services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: ops
      POSTGRES_USER: ops
      POSTGRES_DB: opsdb
    ports:
      - "5432:5432"
  adminer:
    image: adminer
    ports:
      - "8080:8080"